.navbar-container{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    width: 18%;
    display: flex;
    
}
.logo{
    display: inline-block;
    width: 130px;
    height: 85px;
}
.nav-link .pi{
    cursor: pointer;
    padding: 15px;
    margin: 0 20px;
    border-radius: 15px;
    color: white;
    background-color: var(--primary-color);
}
.nav-link .pi:hover{
   background-color: transparent;
   color: var(--primary-color);
}
.btn{
    
    background: linear-gradient(to left, #e66465, #9198e5 75%);
    border: none;
    font-size: 20px;
    padding: 18px;
}
.btn:hover{
    background-color: transparent;
    color: var(--primary-color);
}



