<nav class="navbar">
    <div class="container navbar-container">
    <a class="navbar-brand" routerLink=""><img src="../../../../assets/images/logo.png" alt="logo" class="logo"></a>
        
            <ul class="navbar-menu">
                <li   class="nav-item" >
                    <a class="nav-link" routerLink="/home"><i class="pi pi-home" style="font-size: 2rem"></i></a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" routerLink="/wishlist"><i class="pi pi-heart" style="font-size: 2rem"></i></a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" routerLink="/cart"><i class="pi pi-shopping-cart" style="font-size: 2rem"></i></a>
                </li>
            </ul>
           <a routerLink="/login">
            <button pButton type="button" 
            label="Sign in" class="btn" > 
    </button> 
           </a> 
       
        </div>
</nav>

