<header>
  <div class="banner-container">
    <div>
        <h1>
            <span>discover </span> 
            <span> &nbsp;latest </span>
            <span> &nbsp;courses </span>
            <span> &nbsp;on </span> 
            <span *ngIf="courseType"> &nbsp;angular </span> 
            <span *ngIf="!courseType"> &nbsp;react </span>  
        </h1>
        <button pButton type="button" 
            label="Show Courses" class="btn" > 
    </button> 
   
    </div>
    
    
    <figure>
      <img src="../../../../assets/images/image.webp" alt="" />
    </figure>
  </div>
</header>
