<app-banner></app-banner>
<div class="search">
  <div class="container">
    <div class="form">
      <label for="search-text">Search Text</label>
      <input
        type="search"
        class="form-control"
        id="search-text"
        aria-describedby="search-text"
        [(ngModel)]="searchQuary"
        placeholder="Enter text to search"
        autofocus
      />
      <button type="submit" class="go" (click)="onGoButtonClick()">Go</button>
    </div>
  </div>
</div>
<!-- all courses -->
<div class="container" *ngIf="!showResults">
  <div class="card-container">
    <app-course-item
      *ngFor="
        let course of displayedCourses
          | paginate : { itemsPerPage: pageSize, currentPage: currentPage };
        let i = index
      "
      class="col-12 md:col-6 lg:col-3 card"
      [course]="course"
    >
    </app-course-item>
  </div>

  <div class="pagination">
    <pagination-controls
      (pageChange)="currentPage = $event"
    ></pagination-controls>
  </div>
</div>
<!-- filtered courses -->
<div class="container" *ngIf="showResults">
  <div class="card-container">
    <div *ngFor="let course of courses" class="col-12 md:col-6 lg:col-3 card">
      <app-course-item></app-course-item>
    </div>
  </div>
</div>
