
:host ::ng-deep .p-breadcrumb { 
   padding: 20px 40px;
    margin: 30px 0;
} 
:host ::ng-deep .p-breadcrumb ul li .p-menuitem-text { 
   
    font-size: 18px;
}
:host ::ng-deep .p-breadcrumb ul li:last-child .p-menuitem-text { 
    color: var(--background) !important; 
    font-weight: 600; 
    
}
