@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
:root {
  --background: #e66465;
  --primary-color: rgb(191, 113, 187);
  --blue-color: #9198e5;
  --gradient: linear-gradient(to left, #e66465, #9198e5 75%);
}

.container {
  width: 80%;
  margin: auto;
}
li {
  list-style: none;
}
h1 {
  color: beige;
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 700;
  max-width: 40ch;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
h2 {
  width: 85%;
  font-size: 2.4rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 2.4rem;
  }
  h2{
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 375px) {
  body {
    font-size: 5px;
  }
}
